/* 
    Document   : style
    Created on : 07 30, 13, 6:19:16 PM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    padding: 60px 50px 40px;
}

.form-signin, .form-signup, .form-forgot-password {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 100px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signup {
    max-width: 500px;
}
.form-forgot-password {
    max-width: 500px;
}
.form-signin .form-signin-heading,
    .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signup input[type="text"],
    .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.error-message {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    font-size: 11px;
    font-style: italic;
    padding: 3px 10px;
}

dl > dd {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

dl > dt {
    font-style: italic;
    border-bottom: 1px solid #ccc;
}

.action-item {
    cursor: pointer;
}